name: Run Azure Login with OpenID Connect
on: [push]

permissions:
      id-token: write
      contents: read
      
jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: 8d570f27-d60f-4262-b0a2-4b774f95112e
          tenant-id: e2a4b012-36ad-45f2-8c5c-169f06c2f970
          subscription-id: ea757669-674b-44c1-bf87-bd0fd0880294
  
    - name: 'Run Azure CLI commands'
      run: |
          az account show
          az group list
          pwd 
          az ad sp credential reset --id "cccd5507-157e-438e-a50a-8fa27e5da416"
          
